.gem
.rbenv
.subversion
.NERDTreeBookmarks
.gdb_history
.zsh_history.*
.gnupg
.python_history
.pythonhist
.netrc
.cache
.gitconfig
.histfile
.lesshst
.python_history
.repo_.gitconfig.json
.repoconfig
.viminfo
.zcompdump
.zshrc.zni
.zsh_history
bin
tps
repo
yocto
revengr
